<div ng-controller="AdminCreateCtrl as ctrl" layout="column">

    </md-toolbar>
    <md-content layout-padding>
        <md-card>
            <md-toolbar class="md-toolbar-tools">
                Password reset
            </md-toolbar>
            <md-card-content>z
                <form name="ctrl.passwordForm" novalidate>
                    <md-input-container>
                        <label>Password</label>
                        <input required minlength="1" name="password" ng-model="ctrl.password.value" type="password">

                        <div ng-messages="ctrl.passwordForm.password.$error">
                            <div ng-message="required">This is required</div>
                            <div ng-message="minlength">This is too short (min. 5 characters)</div>
                        </div>
                    </md-input-container>
                    <md-input-container>
                        <label>Repeat Password</label>
                        <input required name="confirmation" ng-model="ctrl.password.confirmation" type="password"
                               match="ctrl.password.value">

                        <div ng-messages="ctrl.passwordForm.confirmation.$error">
                            <div ng-message="required">This is required</div>
                            <div ng-message="match">Passwords do not match</div>
                        </div>
                    </md-input-container>
                    <section layout="row" layout-sm="column" layout-align="left">
                        <md-button class="md-raised" ng-disabled="ctrl.passwordForm.$invalid"
                                ng-click="ctrl.resetPassword()">
                            Save
                        </md-button>
                    </section>
                </form>
            </md-card-content>
        </md-card>
    </md-content>

</div>