<div ng-controller="LoginController as ctrl" layout="column">

    </md-toolbar>
    <md-content layout-padding>
        <md-card>
            <md-toolbar class="md-toolbar-tools">
                Login
            </md-toolbar>
            <md-card-content>
                <form name="ctrl.passwordForm" novalidate>
                    <md-input-container>
                        <label>email</label>
                        <input name="login" ng-model="ctrl.credentials.email" type="text">

                    </md-input-container>
                    <md-input-container>
                        <label>Password</label>
                        <input  name="password" ng-model="ctrl.credentials.password" type="password">
                    </md-input-container>

                    <section layout="row" layout-sm="column" layout-align="left">
                        <md-button class="md-raised" ng-disabled="ctrl.passwordForm.$invalid"
                                ng-click="ctrl.login()">
                            Login
                        </md-button>
                    </section>
                </form>
            </md-card-content>
        </md-card>
    </md-content>

</div>