<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
				rel="stylesheet">
</head>
<body ng-app="jelatyna" layout="row">
<md-sidenav class="md-sidenav-left md-whiteframe-z2"
						id="side-menu"
						md-component-id="side-menu"
						md-is-locked-open="$mdMedia('gt-md')">
	<md-toolbar class="md-theme-indigo">
		<h1 class="md-toolbar-tools">Jelatyna</h1>
	</md-toolbar>
	<md-content layout="column"  layout-padding ng-controller="MenuController as ctrl">

		<md-button
				class="md-primary"
				ng-repeat="item in ctrl.items"
				ng-if="ctrl.isAvailable(item)"
				ng-click="ctrl.click(item)">
			{{item.label}}
		</md-button>
	</md-content>
</md-sidenav>
<div layout="column" tabindex="-1" role="main" flex>
	<ng-include src="'menu.html'"></ng-include>
	<md-content  ui-view flex>
	</md-content>
</div>

<script src="js/bundle.js"></script>
</body>
</html>